.container {
    display: flex;
    flex-direction: column;
}


.controls {
    display: flex;
}

.editor {
    height: 100%;
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 1rem;

    background-color: #292929;
}

.messages > code {
    color: white;
}